<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hey Everyone</h1>
    <hr>
    <h3>{{ Data }}</h3>
    <h6>This is my first web page using templates</h6>
    <ul>
        {% for i in Roll_number %}
        <li>{{i}}</li>
        {% endfor %}
    </ul>
    {{ variable_name }}
    My first name is {{ first_name }}, and last name is {{last_name}}
</body>
</html>